{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {% for product in products %}
        
        <div class='product'>
            <h1>{{product.title}}</h1>    
            <h3>{{product.category.title}}</h3>
        </div>

    {% endfor %}


{% endblock %}